<div>
  <mat-toolbar class="navbar" color="warn">
    <span>Hello</span>
    <div>
      <span>Home</span>
      <span>About</span>
      <span>Services</span>
    </div>
  </mat-toolbar>
</div>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="subMenu">Front</button>
  <button mat-menu-item>Back</button>
</mat-menu>

<button mat-flat-button [matMenuTriggerFor]="appMenu">Menu</button>
<br>

<mat-menu #subMenu="matMenu">
  <button mat-menu-item>Angular</button>
  <button mat-menu-item>React</button>
  <button mat-menu-item>Vue</button>
</mat-menu>

<div>
  <mat-button-toggle #toggleBtn>Toogle</mat-button-toggle>
  {{toggleBtn.checked}}
</div>
<br>
<div>
  <mat-button-toggle-group #toggleGroup="matButtonToggleGroup">
    <mat-button-toggle value="1">Menu 1</mat-button-toggle>
    <mat-button-toggle value="2">Menu 2</mat-button-toggle>
    <mat-button-toggle value="3">Menu 3</mat-button-toggle>
  </mat-button-toggle-group>
  {{toggleGroup.value}}
</div>

<br>
<div>
  <mat-icon color="primary">grade</mat-icon>
</div>
<br>

<div>
  <span matBadge="5" matBadgePosition="above after" matBadgeSize="small" matBadgeColor="accent" matBadgeOverlap="false">Notifications</span>
</div>
<div>
  <span [matBadge]="notifications" [matBadgeHidden]="notifications == 0">Notifications</span>
</div>

<br>

<mat-progress-spinner value="100"></mat-progress-spinner>
<br>

<button (click)="loadData()">Load Data</button>
<br>
<mat-spinner *ngIf="showSpinner"></mat-spinner>

<br>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Header
    </mat-expansion-panel-header>
    <p>Panel content</p>
    <mat-action-row>
      <button mat-raised-button>Action</button>
    </mat-action-row>
  </mat-expansion-panel>


  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Header
    </mat-expansion-panel-header>
    <p>Panel content</p>
    <mat-action-row>
      <button mat-raised-button>Action</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<mat-tab-group #tabRef>
  <mat-tab label="Angular">Angular content</mat-tab>
  <mat-tab label="React">React content</mat-tab>
  <mat-tab label="Vue">Vue content</mat-tab>
  <mat-tab label="Stuff">
    <br>          
      <mat-vertical-stepper linear>
        <mat-step label="Shipping Address" completed="true">
          <p>Shipping Address Details</p>
        </mat-step>
        <mat-step label="Billing Adress" completed="false">
          <p>Billing Address Details</p>
          <button mat-button matStepperPrevious>Previous</button>
          <button mat-button matStepperNext>Next</button>
        </mat-step>
        <mat-step label="Place Order" completed="false">
          <p>Order Details</p>
        </mat-step>
      </mat-vertical-stepper>
      <br>

      <mat-form-field floatLabel="always" hideRequiredMarker="" appearance="outline" color="accent">
        <mat-label>Name</mat-label>
        <input matInput required>
        <mat-hint>Min 5 characters</mat-hint>
      </mat-form-field>

      <br>

      <mat-form-field>
        <mat-label>Topic</mat-label>
        <mat-select [(value)]="selectedValue">
          <mat-option value="1">Opt1</mat-option>
          <mat-option value="2">Opt2</mat-option>
          <mat-option value="3">Opt3</mat-option>
        </mat-select>
      </mat-form-field>
      {{selectedValue}}

      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>Tile 1</mat-grid-tile>
        <mat-grid-tile>Tile 2</mat-grid-tile>
        <mat-grid-tile>Tile 3</mat-grid-tile>
        <mat-grid-tile>Tile 4</mat-grid-tile>
      </mat-grid-list>


  </mat-tab>
  <mat-tab label="Data Table">
    <app-datatable></app-datatable>
  </mat-tab>

</mat-tab-group>
